.auth__form {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 4px;
    margin: 50px auto;
    &__control {
        margin: 0 0 15px 0;
        width: 100%;
    }
    &_input {
        width: 100%;
        margin-top: 5px;
    }
    &_submit {
        display: flex;
        justify-content: center;
    }
}
