.app {
    &__nav {
        display: flex;
        width: 180px;
        border: 1px solid #ccc;
        border-radius: 4px;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
    }
}
