.main {
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100vh;
    padding: 120px 0;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    &__tickets {
        height: 100%;
        overflow: scroll;
    }
    &__bucket {
        margin: 0 0 0 20px;
        a {
            color: black;
        }
    }
}
