.checkbox {
  z-index: 2;
  content: '';
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  margin-right: 11px;
  border: 1px solid #D2D5D6;
  border-radius: 3px;
  -webkit-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
  &__container {
    width: 19px;
    height: 19px;
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
//
//  &__mark {
//    position: absolute;
//    z-index: 3;
//  }
}

